.chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 900px){
        margin-top: 75px;
        border-right: none;
    }
    .user1-message{
        position: relative;
       
            img{
                position: absolute;
                top: 0;
                right: 0;
            }
            .message{
                position: absolute;
                top: 40px;
                right: 82px;

            }
    }

    .user2-message{
        position: relative;
        
            img{
                position: absolute;
                top: 0;
                left: 0;
            }
            .message{
                position: absolute;
                top: 40px;
                left: 82px;

            }
    }
    


   
    
}