.chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 900px){
        margin-top: 75px;
        border-right: none;
    }
    .user1-message {
        display: flex;
        flex-direction: row-reverse;
        
        .message{
            margin-top: 35px;  
                       

            }
    }

    .user2-message{
        display: flex;        
            .message{
                margin-top: 35px; 
                           


            }
    }
    


   
    
}