.contacts{    
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: $fontPage;
    font-size: $fontSizeChat;
    background-color: $backgroundContact;
    height: 950px;
    @media (max-width: 990px){
        display: none;
    }
}

.contact{
    margin: 10px;
    padding: 5px 0;
}
.contact.contact-active{
    background-color: white;
    width: 100%;
    
}