.chat {
    width: 60%;
    height: 940px;
    border-right: 2px solid $borderColor;
    padding-top: 10px;
    @media (max-width: 900px){
        height: 1000px;
    }

   
    
    
    .user1-message, .user2-message {
            font-family: $fontPage;
            font-size: $fontSizeChat;
            width: 80%;  
            @media (max-width: 900px){
                margin: 15px 0;
            }
            
                  
        }
    
        .user1-message{
            .message{
                background-color: $backgroundChat1;                
                width: 80%;
                padding: 5px;
                @include radiusUser1();

            }

        }
    .user2-message{
        .message{
            background-color: $backgroundChat2;
            width: 80%;
            padding: 5px;
            @include radiusUser2();
        }
    }
    
}

   
    

