.fas, .far{
    color: gray;
    transition: 0.3s;
    &:hover{
        color: #29a19c;
        transform: scale(1.2);
    }
}


.fa-phone-square-alt, .fa-phone-slash{
    font-size: 50px;
}
.fa-phone-square-alt{
    color: #58b368;
}
.fa-phone-slash{
    color: #fe5f55;
}