.fas, .far{
    color: gray;
}

.signal {
    border-radius: 50%;
    width: 15px;
    background-color:red;
}

.fa-phone-square-alt, .fa-phone-slash{
    font-size: 50px;
}
.fa-phone-square-alt{
    color: #58b368;
}
.fa-phone-slash{
    color: #fe5f55;
}