.contact{
    img{
        border-radius: 50%;
        width: 80px;
    }
}

.user1-message, .user2-message{
    img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

}

.contact-image img{
    border-radius: 50%;
    width: 200px;
}