// Variables de colores

$swatch_1: #fdfdfe;
$backgroundChat1:  #6f7399;
$swatch_3: #e0dadd;
$swatch_4: #584e50;
$swatch_5: #d79689;
$backgroundContact: #e5dfdf;
$backgroundChat2:  #a19395;
$borderColor: #6f9a8d;

// Variable de fuentes
$fontPage: 'Varela Round', sans-serif;
$fontSizeChat: 15px;


